.header {
    background: #9abb4f;
    text-align: center;
    padding: 20px;
    color: white;
    font-weight: 700;
}

.lk {
    border: 2px solid white;
    width: max-content;
    margin: auto;
    margin-top: 10px;
    padding: 10px;
    border-radius: 10px;
    color: white;
    text-decoration: none;

}

.lk:hover {
    border: 2px solid #9abb4f;
    background: white;
    color: #9abb4f;
    cursor: pointer
}


.main {
    max-width: 1300px;
    margin: auto;
}

.footer {
    margin-top: 300px;
    background: #9abb4f;
    text-align: center;
    padding: 20px;
    color: white;
    font-weight: 700;
}